h2 О нас
.image_block
	img(src="images/aboutPic.png" alt="about")
	.tape_up_left
	.tape_up_right
	.tape_down_left
	.tape_down_right
.descript
	h4 О нас и нашей цирюльне
	p Мужская цирюльня Долгоруковъ взяла самое лучшее у мастеров того времени — совершенное мастерство, которое гарантирует безупречные линии стрижки, строгое следование классическим канонам мужских причесок, но при этом постоянный поиск новых технологических решений. Наши специалисты знают все о структуре кожи вашего лица, о том, как обращаться с вашими усами и бородой. Наши мастера обожают свою работу и постоянно развиваются.
	p Цирюльня Долгоруковъ — место для мужчин, где вас поймут с полуслова и окутают первоклассным сервисом. Мы стрижем, бреем, ухаживаем за бородой и усами, но самое главное, что в каждом мужчине мы способны увидеть тот внутренний стержень характера, который и делает его мужчина. Наша задача — просто подчеркнуть это доступными нам средствами!

.scissors
	img(src="images/aboutScissors.png" alt="big scissors")
.hairdryer
	img(src="images/aboutDryer.png" alt="Hairdryer")
.some_line
	.some_line_blocky
+bottom_logo