h2 Контакты
.map: <a href="https://yandex.ru/maps/?um=constructor:grQ20rgFxo7wtS0lADANADNUe7ubMoIV&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?sid=grQ20rgFxo7wtS0lADANADNUe7ubMoIV&amp;width=450&amp;height=450&amp;lang=ru_RU&amp;sourceType=constructor" alt="" style="border: 0;" /></a>
//- #Dolgorukov
.adress_and_form
	.adress_and_form_post
		h4 Наш Адрес:
		p ТРЦ «Павлово Подворье», Московская область,</br> Истринский район, с/пос. Павло-Слободское,</br> дер. Новинки, д. 115, стр. 5  
		p Телефоны: <a href="tel:+74959928333">+74959928333</a>, <a href="tel:+79169148333">+79169148333</a>
		.soc_block
			a(href="#" target="_blank"): img(src="images/fb.png")
			a(href="#" target="_blank"): img(src="images/inst.png")
			a(href="#" target="_blank"): img(src="images/vk.png" class="vk")
	.adress_and_form_feedback
		h4 Свяжитесь с нами:
		form(action="mailto:men@dolgorukov.su" method="post")
			input(type="text" name="name" placeholder="Имя" required)
			input(type="text" name="family_name" placeholder="Фамилия")
			input(type="email" name="mail" placeholder="Почта" required)
			input(type="tel" name="phone" placeholder="Телефон" required)
			textarea(name="message" placeholder="Ваше сообщение")
			input.button(type="submit")
.bigBox
	img(src="images/box.png" alt="box")
.dangerBlade
	img(src="images/dangerBlade.png" alt="danger blade")
.some_line
	.some_line_blocky
+bottom_logo