h2 История
.image_block
	img(src="images/tomHardy.png" alt="service")
	.tape_up_left
	.tape_up_right
	.tape_down_left
	.tape_down_right
.description
	h4 О нас и нашей цирюльне
	p Цирюльня Долгоруковъ — место для мужчин, где вас поймут с полуслова
	p В 60-х годах XVIII века в Москве в полную силу вошла мода на парикмахерское искусство. Тут и там засверкали парижским шиком цирюльни с самым полным спектром услуг — от стрижки и укладки, до завивки усов щеголеватыми колечками. Москва шиковала вовсю - после падения крепостного права помещики щедро прожигали полученные за землю и живых людей выкупные.
	p Цирюльни процветали. Русские мастера очень быстро обучались у французских парикмахеров, а природная смекалка вдохновляла их к экспериментам и поискам новых решений, отчего некоторые московские мастера очень быстро обошли на всех поприщах своих французских учителей. 
	p Князь Владимир Долгоруков, московский генерал-губернатор правил столицей с толком и размахом. Кроме того, он был одним из первейших щеголей. На его балах бывала вся Москва, решая вопросы и заводя знакомства в кругу усыпанных бриллиантами великосветских дам и блестящих мундиров.
	p Спрос на парикмахерское искусство был настолько велик, что многие парикмахеры решительно раздвигали рамки своей профессии и становились настоящими художниками своего искусства.

.handShaver
	img(src="images/handShaver.png" alt="handShaver")
.foamMaker
	img(src="images/foamMaker.png" alt="foamMaker")
.some_line_center
	.some_line_center_blocky
.some_line_side
	.some_line_side_blocky
+bottom_logo