.image_block
	img(src="images/servicePic.png" alt="service")
	.tape_up_left
	.tape_up_right
	.tape_down_left
	.tape_down_right
.why_us
	h4 Перечень услуг
	ul.service_name
		li: <b>Стрижка (стрижка, машинка, бритва)</b><b>3500 руб.</b>	
		li: <b>Королевское бритье (против роста + уход)</b><b>3500 руб.</b>	
		li: <b>Жесткая стрижка</b><b>2500 руб.</b>
		li: <b>Детская стрижка</b><b>2500 руб.</b>  
		li: <b>Стрижка папа + сын</b><b>5000 руб.</b>	
		li: <b>Камуфляж седины</b><b>5000 руб.</b>	
		li: <b>Маникюр</b><b>2500 руб.</b>
		li: <b>Педикюр</b><b>3500 руб.</b>     		
	//- ul.service_price
	//- 	li 3500 руб.
	//- 	li 3500 руб.
	//- 	li 2500 руб.
	//- 	li 2500 руб.
	//- 	li 5000 руб.
	//- 	li 5000 руб.
	//- 	li 2500 руб.
	//- 	li 3500 руб.
	.clocks
		img(src="images/clocks.png" alt="clocks")
	.blade
		img(src="images/blade.png" alt="blade" )
//- .service_list
//- 	h4 Перечень услуг
//- 	ul.service_name
//- 		li Стрижка папа + сын	
//- 		li Камуфляж седины	
//- 		li Маникюр
//- 		li Педикюр   		
//- 	ul.service_price
//- 		li 5000 руб.
//- 		li 5000 руб.
//- 		li 2500 руб.
//- 		li 3500 руб.
h2 Услуги

.autoshave
	img(src="images/autoshave.png" alt="autoshave")
+bottom_logo

 
